img {
  width: 275px;
  height: 175px;
  object-fit: fill;
}

.pointer {
  cursor: pointer;
}

.country-name-text-overflow {
  width: 227px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-capital-text-overflow {
  width: 150px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dark-backGround {
  background-color: darkblue;
}

.light-backGround {
  background-color: gainsboro;
}

.dark-cards {
  color: white;
  background-color: rgb(29, 29, 218);
}

.light-cards {
  color: black;
  background-color: white;
}

input.dark-cards::placeholder {
  color: white;
}
